body{
  scroll-behavior: smooth;
}


.nav-link {
    margin-left: 8rem;
    
    
}
.nav-link::after{
  position: absolute;
  left: 10px;
  content: '';
  height: 40px;
  width: 100%;
  border-bottom: 3px solid green;
  transition: left 250ms ease-in;
  opacity: 0;

}
.nav-link:hover{
  opacity: 1;
}
.membership-btn{
  margin-left: 15rem;
  height: 40px;
  width: 150px;
  background-color: rgba(0, 128, 13, 0.896);
  border: none;
  color: white;
  font-size: large;
}
.login-btn{
   margin-left: 8rem;
   background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: white;
}

.background-img{
  width: 100%;
  border: none;
  height: 750px;
  text-align: center;
  z-index: -1;
  position: relative;
  
}


.background-grad{
  height: 760px;
  width: 100%;
  /* border: 5px solid red;  */
  z-index: -3;
  position: absolute;
  background-size: 500%;
  background-image: linear-gradient(to right, black, #2e8266, black, #2e8266); 
  transition: all 10s ease;
  animation: background_animate 10s linear infinite;
  
}

@keyframes background_animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}



.img1{
  z-index: -1;
  position: fixed;
  right: 30%;
}
/* .sec-1-texts{ */
  /* margin-bottom: 5rem; */
/* } */
.h3_txt{
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: 1000;
}
.h1_txt{
  position: absolute ;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: 1900;
  color: white;
}

.section-2{
  height: 570px;
  width: 100%;
  /* border: 1px solid red; */
  background-color: white;
}
.sec-2-text{
  height: 500px;
  width: 48%;
  /* border: 10px solid red; */
  float: right;
  margin-top: 2rem;
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-left: 100px;
  /* line-height: 1.5; */

}
.img-div{
  height: 500px;
  width: 48%;
  /* border: 10px solid red; */
  float: left;
  margin-top: 2rem;
}
.read-more-btn{
  /* height: 2rem; */
  width: 8rem; 
  background-color: rgb(0, 190, 117);
  color: white;
  border-radius: 3px;
  border-color:  rgb(0, 190, 117);
  margin-top: 3rem;
  padding: 5px;
  transition: all 0.5s ease;
}
.read-more-btn:hover{
  background-color: white;
  color: black;
  border-color: white;
}
.sec-2-img{
  background-image: url(https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/explore.jpg);
  background-repeat: no-repeat;
  background-size: 677px 100%; 
  background-attachment: fixed;
}
.sec-2-text p{
  line-height: 2;
  margin-top: 2rem;
}
.section-3{
  height: 600px;
  width: 100%;
  background-color: white;
  margin-top: -10px;
  /* border: 1px solid rgb(145, 255, 0); */
}
.sec-3-heading{
  font-size: 60px;
  background-image: linear-gradient(to left, rgb(0, 153, 140), rgb(0, 126, 175), rgb(0, 160, 126));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.sec-3-img{
 width: 47%;
 height: 50%;
 float: left;
 margin-top: 2rem;
}
.sec-3-txt{
  float: right;
  /* border: 1px solid green; */
  width: 47%;
  margin-top: 61px;
  text-align: left;
  padding: 59px;

}
.sec-3-txt p{
  line-height: 2;
  margin-top: 20px;
  margin-right: 30px;
  padding: 17px;
}
.sec-3-txt h1{
  margin-left: 15px;
  background-image: linear-gradient(to left, rgb(0, 153, 140), rgb(0, 126, 175), rgb(0, 160, 126));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.section-4{
  height: 600px;
  width: 100%;
  /* border: 2px solid blue; */
position: relative;
background-color: white;
}
.sec-4-text{
  float: left;
  height: 300px;
  width: 47%;
  /* border: 1px solid rgb(255, 0, 68); */
  margin-top: 2rem;
  line-height: 2;
  margin-top: 20px;
  margin-right: 30px;
  padding: 17px;
  text-align: right;
  margin-top: 2rem;

}
.sec-4-txt h1{
  /* margin-right: 15px; */
}
.sec-4-img{
  float: right;
  height: 500px;
  width: 47%;
  /* border: 1px solid violet; */
  margin-top: 2rem;
  background-image:url(IMG_4558.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 677px 100%; 
  
}
.section-4 p{
  margin-right: 95px;
  line-height: 2;
}
.section-4 h1{
  margin-right: 6rem;
  background-image: linear-gradient(to left, rgb(39, 0, 80), rgb(156, 8, 144), rgb(158, 57, 123));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.section-5{

  height: 650px;
  width: 100%;
  border: 1px solid red;
  background-color: white;

}
.sec-5-form{
  float: right;
  height: 400px;
  width: 47%;
  border: 1px solid teal ;
  margin-top: 2rem;
  display: inline-block;
}
